# Hamoye Internship

## Introduction to Python for Machine Learning (Quiz)

### Tochukwu Ezeokafor

In [76]:
import numpy as np
import pandas as pd
df = pd.read_csv('fuel_ferc1.csv')
df.head(7734)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
7729,f1_fuel_2000_12_194_2_14,194,2000,nelson dewey unit 1,oil,bbl,283.0,5.686716,32.05,41.89,5.642
7730,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-123.31,-174.67,-3.978
7731,f1_fuel_2000_12_194_3_1,194,2000,nelson dewey unit 2,coal,ton,304772.0,19.962000,23.39,22.56,1.172
7732,f1_fuel_2000_12_194_3_2,194,2000,nelson dewey unit 2,oil,bbl,236.0,5.686716,31.70,41.89,5.583
7733,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-276.08,-174.67,-8.906

In [8]:
df.shape

(29523, 11)

In [3]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [4]:
df.values

array([['f1_fuel_1994_12_1_0_7', 1, 1994, ..., 18.59, 18.53, 1.121],
       ['f1_fuel_1994_12_1_0_10', 1, 1994, ..., 18.58, 18.53, 1.12],
       ['f1_fuel_1994_12_2_0_1', 2, 1994, ..., 39.72, 38.12, 1.65],
       ...,
       ['f1_fuel_2018_12_12_1_10', 12, 2018, ..., 4.77, 4.77, 8.99],
       ['f1_fuel_2018_12_12_1_13', 12, 2018, ..., 3.06, 14.76, 1.11],
       ['f1_fuel_2018_12_12_1_14', 12, 2018, ..., 0.0, 0.0, 11.68]],
      dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [16]:
A = [1,2,3,4,5,6];
B = [13, 21, 34]

In [27]:
AB = A.extend(B)

In [28]:
print(AB)

None

In [29]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [31]:
29343 - 29523

-180

In [34]:
29523 / 100

295.23

In [55]:
year = df["report_year"]
Delivered = df["fuel_cost_per_unit_delivered"]

year

0        1994
1        1994
2        1994
3        1994
4        1994
         ...
29518    2018
29519    2018
29520    2018
29521    2018
29522    2018
Name: report_year, Length: 29523, dtype: int64

In [70]:
Delivered.idxmax()

3564

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [63]:
new = DecisionTreeClassifier()

In [78]:
year

0        1994
1        1994
2        1994
3        1994
4        1994
         ...
29518    2018
29519    2018
29520    2018
29521    2018
29522    2018
Name: report_year, Length: 29523, dtype: int64

In [73]:
burned = df["fuel_cost_per_unit_burned"]

In [75]:
burned.idxmin()

7733